:root{

    --event-background: #97B89A;
    --event-hover-background: #556B57;
    --header-background: #556B57;
    --btn:#556B57;
    --btn-hover: #3b4a3c;

    --button-bg: #c7d6c8;
    --button-hover-bg:#97b89a;
}
